.Nav {
  background-image: url("../public/greengrapes2.jpeg");
  background-size: 100%;
  background-position: center;
  background-repeat:no-repeat;
  /* margin: auto; */
  height: 180px;
}

#btn1 {
  background-color:white;
  border: 2px solid white;
  border-radius: 10%;
}
.navheader {
  background-color:#729368;
  z-index: 1;
}

.logo {
  background-image: url("../public/logo.png");
  background-size: 100%;
  background-position: center;
  background-repeat:no-repeat;
  height:200px;
  width:200px;
  z-index: 1;
  position: absolute;
  top:175px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.emailimg {
  height:50px;
  width:50px;
}
.fbimg {
  height:33px;
  width:33px;
  margin-right:12px;
  margin-bottom:5px;
}
.igimg {
  height:33px;
  width:33px;
  margin-bottom:5px;
}
/* html {
  background-color: #d0eac8a5;
} */
.container1 {
  height:400px;
  padding-top:50px;
  background-image: url("../public/winepour2.png");
  background-size: 40% 110%;
  background-position: left center;
  background-repeat:no-repeat;
  /* box-shadow: rgb(224,196,195) 0 -25px 18px -14px inset,rgba(224,196,195) 0 1px 2px,rgba(188,124,124) 0 2px 4px,rgba(188,124,124) 0 4px 8px,rgba(188,124,124) 0 8px 16px,rgba(224,196,195) 0 16px 32px; */
  background-color:#f9e8e8;
  position:relative;
}

.container2 {
  height:432px;
  background-color:#f9e8e8;
  position:absolute;
  left:67%;
  top:-8%;
  z-index: -1;
}
/* .container3 {
  background-color:pink;
  height: 100%;
  position:absolute;
  top:100%;
} */
.container4 {
  /* background-image: url("../public/back.jpeg"); */
 
  background-size:cover;
  background-position:left center;
  background-repeat:no-repeat;
  height:100%;
  background-color: white;
  position:absolute;
  /* left:47%; */
  top:100%;
  width:170%;
  overflow-x: auto;
}
.container5 {
  background-color: #861c1c;
  position:relative;
  top:135%;
  height:352px;

}
.container6 {
  background-image: url("../public/background.jpeg");
  background-size:cover;
  background-position:left center;
  background-repeat:no-repeat;
  background-color: #861c1c;
  position:relative;
  width:97%;
  left:73%;
  height:350px;
  bottom:66%;
}

.explore {
  background-color: #861c1c;
  border-radius: 100px;
  box-shadow: rgb(140,39,35) 0 -25px 18px -14px inset,rgba(188,124,124) 0 1px 2px,rgba(188,124,124) 0 2px 4px,rgba(188,124,124) 0 4px 8px;
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  text-align: center;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  margin-top:5px;
  position:relative;
  left:40%;
}
.mb-3 {
  background-color: #861c1c;
  border-radius: 100px;
  box-shadow: rgb(140,39,35) 0 -25px 18px -14px inset,rgba(188,124,124) 0 1px 2px,rgba(188,124,124) 0 2px 4px,rgba(188,124,124) 0 4px 8px;
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  text-align: center;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  margin-top:5px;
  position:relative;
  left:40%;
}
.mb-3:hover {
  box-shadow: rgb(140,39,35) 0 -25px 18px -14px inset,rgba(188,124,124) 0 1px 2px,rgba(188,124,124) 0 2px 4px,rgba(188,124,124) 0 4px 8px,rgba(188,124,124) 0 8px 16px,rgba(224,196,195) 0 16px 32px;
  transform: scale(1.05) rotate(0deg);
}

.explore:hover {
  box-shadow: rgb(140,39,35) 0 -25px 18px -14px inset,rgba(188,124,124) 0 1px 2px,rgba(188,124,124) 0 2px 4px,rgba(188,124,124) 0 4px 8px,rgba(188,124,124) 0 8px 16px,rgba(224,196,195) 0 16px 32px;
  transform: scale(1.05) rotate(0deg);
}

.author {
  position:relative;
  top:-10px;
  position:relative;
  left:100%;
  color:rgb(140,39,35);
  font-size:17px;
}

.quote {
  color:rgb(140,39,35);
  font-size:17px;
  font-style: italic;
  margin-top:30px;
  position:relative;
  left:40%;
}


@import url('https://fonts.googleapis.com/css?family=Roboto:300');

h2 {
  color:#943330;
  position:relative;
  left:40%;
  padding-top:8%;
  overflow:hidden;
}

div h2{
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

h2:last-of-type {
  width:0px;
  animation: reveal 7s infinite;
}

h2:last-of-type h2 {
  position: relative;
  left:-355px;
  animation: slidein 7s infinite;
}
.cheers {
  font-size: 25px;
  animation: slidecheers 10s infinite;
  color:rgb(140,39,35);
}
@keyframes slidecheers {
  0% { margin-left:-1100px; }
  /* 35% { margin-left:0px; } */
  100% { margin-left:300px; }
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:455px;}
}

.aboutus {
  background-image: url("../public/handgrapes.jpeg");
  background-size:75%;
  background-position: left center;
  background-repeat:no-repeat;
  height:750px;
  width:700px;
  position:absolute;
  left:7%;
  top:10%;
  margin-top:5%;
}
.aboutp {
  height: 650px;
  width: 650px;
  position:relative;
  left:50%;
  top:15%;
  margin-top:2%;
  margin-bottom:-10%;
}

.abouth3 {
  position:relative;
  margin-top:3%;
  left:3%;
}

.wineIndex{
  display: flex;
  margin: 10px;
  padding: 10px;
  flex-flow: row wrap;
  justify-content: center;

}

.wineTiles {
  width: calc(25% - 5px);
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border: 2px outset white;
  background-color: rgba(140,39,35);
  color: white;
  padding: 5px;
  margin: 5px;
  width: 250px;
  border-radius: 10px;

}

.wineTileImg {
  max-width: 100px;
  max-height: 150px;
}

.signin {
 
  height:530px;
  width:550px;
  position:absolute;
  right: 9%;
  padding-top:5%;
  left:40%;
  bottom:0px;

}
.image {
  background-image: url("../public/winepour.jpeg");
  background-size: 40% 100%;
  background-position: center;
  background-repeat:no-repeat;
  position:absolute;
  z-index: -1;
  height:670px;
  width:650px;
  left:76%;
  top:20%;
}

.signup {

  height:530px;
  width:600px;
  position:absolute;
  float:right;
  left:8%;
  padding-top:5%;
}

footer {
  background-color:#729368;
  position:fixed;
  bottom:0px;
  text-align: center;
  width:100%;
  }
  
 .contact {
  position:absolute;
  bottom:70%;
  left:50%;
 }
 .cave {
  padding:15px;
  padding-left:30px;
 }
 li {
  list-style: none;
 }

.linkToShow {
  color: white;
  text-decoration: none;
}

.linkToShow:hover {
  color: white;
  text-decoration: underline;
}
 .box1 {
  height:300px;
  width:450px;
  position:relative;
  margin:50px;
  text-align:center;
  padding-top:60px;
  display:flex;
 }
 .box2 {
  height:300px;
  width:450px;
  position:relative;
  margin:50px;
  text-align:center;
  padding-top:60px;
  display:flex;
 }
 .box3 {
  height:300px;
  width:450px;
  position:relative;
  margin:50px;
  text-align:center;
  padding-top:60px;
  display:flex;

 }
 .p1 {
  background-image: url("../public/purplegrape.jpeg");
  background-size:100%;
  background-position: center;
  background-repeat:no-repeat;
  height:300px;
  width:650px;
  position:relative;
  bottom:262%;
  margin:70px;
  left:40%;

 }
 .p2 {
  background-image: url("../public/barrel2.jpeg");
  background-size:100%;
  background-position: center;
  background-repeat:no-repeat;
  height:300px;
  width:650px;
  position:relative;
  bottom:262%;
  margin:70px;
  left:40%;
 }
 .p3 {
  background-image: url("../public/cheers.jpeg");
  background-size:100%;
  background-position: center;
  background-repeat:no-repeat;
  height:300px;
  width:650px;
  position:relative;
  bottom:262%;
  margin:70px;
  left:40%;
 
 }

 .cheese {
  background-image: url("../public/cheeseplate2.jpeg");
  background-size:100%;
  background-position: center;
  background-repeat:no-repeat;
 
  position:relative;
  height:700px;
  width:100%;

  margin-top:-50%;
 }
 .process {
  text-align:center;
  padding-top:5%;
  color: #861c1c;
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
 }

 .plus {
  position:relative;
  bottom:100%;
  left:90%;
  font-size:35px;
  font-weight: bold;
  text-decoration: none;
  color:#861c1c;
  border:none;
  background-color: white;
 }

.plus:hover {
  color:#729368;

}
button[title]:hover:after {
  content: attr(title);
  font-size: 15px;
  padding: 10px;
  background-color: #729368;
  color: white;
  border-radius: 5px;
  position: absolute;
  width:140px;
  z-index: 1;
  left: 20%;
  top:100%;
}

.form {
  padding:3%;
  margin-left:3%;
  background-color: white;
  height:700px;
}
.formitems {
  margin:1%;
  border-radius: 10px;
  height:35px;
  display:block;
  width:400px;
  border:2px solid #729368;
}
#delete{
  background-color: #861c1c;
  border-radius: 100px;
  box-shadow: rgb(140,39,35) 0 -25px 18px -14px inset,rgba(188,124,124) 0 1px 2px,rgba(188,124,124) 0 2px 4px,rgba(188,124,124) 0 4px 8px;
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  text-align: center;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  margin-top:20px;
  margin-left:9%;
  position:relative;

}
#delete:hover {
  transform: scale(1.05) rotate(0deg);
}

#edit {

  background-color:#729368;
  border-radius: 100px;
  box-shadow: rgb(59, 89, 71) 0 -25px 18px -14px inset,rgba(58,89,71) 0 1px 2px,rgba(58,89,71) 0 2px 4px,rgba(58,89,71) 0 4px 8px;  color: white;  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  text-align: center;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  margin-top:5px;
  margin-left:9%;
  position:relative;
}
#edit:hover {
  box-shadow: rgb(59, 89, 71) 0 -25px 18px -14px inset,rgba(58,89,71) 0 1px 2px,rgba(58,89,71) 0 2px 4px,rgb(189, 193, 190) 0 4px 8px;  
  transform: scale(1.05) rotate(0deg); 
}

.create {
  background-color: #861c1c;
  border-radius: 100px;
  box-shadow: rgb(140,39,35) 0 -25px 18px -14px inset,rgba(188,124,124) 0 1px 2px,rgba(188,124,124) 0 2px 4px,rgba(188,124,124) 0 4px 8px;
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  text-align: center;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  margin-top:5px;
  margin-left:9%;
  position:relative;
 
}

.create:hover {
  box-shadow: rgb(140,39,35) 0 -25px 18px -14px inset,rgba(188,124,124) 0 1px 2px,rgba(188,124,124) 0 2px 4px,rgba(188,124,124) 0 4px 8px,rgba(188,124,124) 0 8px 16px,rgba(224,196,195) 0 16px 32px;
  transform: scale(1.05) rotate(0deg);
}

.style {
  background-image: url("../public/cheeseplate.jpeg");
  background-size:100%;
  background-position: center;
  background-repeat:no-repeat;
  height:350px;
  width:800px;
  position:absolute;
  left:40%;
  margin-top:10%;
}
@media (max-width: 768px) {
  .container1 {
    background-size:0%;
  }

  .span1 {
   background-color:rgb(170, 202, 170);
   opacity:0.9;
   display:block;
   z-index:1;
   height:150px;
   width:400px;
   margin-top: 5%;

  }
  .p1{
    position:relative;
    left:-15%;
  }
  .span2 {
    background-color:rgb(170, 202, 170);
    opacity:0.9;
    display:block;
    z-index:1;
    height:200px;
    width:400px;
    margin-top: 5%;
 
   }
   .p2{
     position:relative;
     left:-15%;
   }
   .span3 {
    background-color:rgb(170, 202, 170);
    opacity:0.9;
    display:block;
    z-index:1;
    height:200px;
    width:400px;
    margin-top: 5%;
 
   }
   .p3{
     position:relative;
     left:-15%;
   }

.container6 {
  position:relative;
  left:100%;
  background-size:100% 100%;
}
.aboutus {
  background-image: url("../public/handgrapes.jpeg");
  background-size:57%;
  background-position: left center;
  background-repeat:no-repeat;
  height:750px;
  width:800px;
  position:absolute;
  left:4%;
  top:8%;
  margin-top:5%;
}
.aboutp {
  height: 700px;
  width: 450px;
  position:relative;
  left:5%;
  margin-top:70%;
  margin-bottom:-10%;
}

.abouth3 {
  position:relative;
  margin-top:4%;
  left:5%;
}
button[title]:hover:after {
  width:70px;
  left: -100%;

}
.style {
visibility:hidden;
height:600px;
}
.signin {
  height:450px;
  width:600px;
  position:absolute;
  float:right;
  top:90%;
  padding-top:5%;
  left:10%;
}

.signup {
  height:450px;
  width:600px;
  position:absolute;
  float:right;
  left:10%;
  padding-top:5%;
}
}