.Nav {
  background-image: url("../public/greengrapes2.jpeg");
  background-size: 100%;
  background-position: center;
  background-repeat:no-repeat;
  /* margin: auto; */
  height: 200px;
}

.btn1 {
  background-color:white;
  border: 2px solid white;
  border-radius: 10%;
}

.navheader {
  background-color:#729368;
}
footer {
 position:absolute;
 bottom:0%;
 text-align: center;
}